.header-desktop_widget{
    position : relative;
    padding : 6px 0px;
    background : transparent;
    height : 100%;
    min-width: 160px;
    text-align : center;
}
.header-desktop_widget--btn{
    display : flex;
    justify-content : space-around;
    align-items : center;
}

.header-desktop_widget--dropMenu:nth-child(1), .header-desktop_widget--dropMenu:nth-child(2){
    position : "absolute";
    bottom : calc(-100% + 50px);
    left : 0;
    text-align : center;
    background : white;
}