@import "../../sass/style.variables";
@import "../../sass/layout.scss";

.prompt--container{
    @extend .flexCenter;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.096);
    filter: blur(2);
}
.prompt--body{
    @extend .flexCenter;
    flex-direction: column;
    width: 33%;
    height: 50%;
}
.prompt--button{
    padding: 10px 30px;
}