@import "../../sass/style.variables";
@import "../../sass/layout.scss";

.blog{
    @extend .positionAbsolute;
    min-height: 100%;
    width: 100vw;
}

.blog_post{
    min-height: 100%;
    width: 100%;
    padding: 60px 20px;
    text-align: center;
    z-index: -110;
    background: rgb(253, 255, 252);
}


.blog_post--header{
    font-size: 4.9em;
    font-weight: 300;
}
.blog_post--meta{
    @extend .flexAround;
    width: 80%;
    height: auto;
    margin: auto;
}

.blog_post--meta-author, .blog_post--meta-date{
    font-weight: 300;
}

// .blog_post--meta-date{
//     font-family: monospace;
// }

.blog_post--thumb{
    @extend .flexBetween;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
.blog_post--thumb-picture{
    height: 90%;
    width: auto;
    margin: auto;
    padding-bottom: 5px;
    box-shadow: 0px 1px 4px $shadow ;
}
.blog_post--thumb-description{
    font-weight: 300;
    font-size: .9em;
}

.blog_post--article{
    text-align: start;
    text-indent: 20px;
    padding: 10px 25px;
    width: 60%;
    margin: auto;
    min-height: 400px;
    font-size: 1em;
    font-weight: 300;
    margin-top: -20px;
    // box-shadow: 0px 0px 5px rgb(252, 248, 248);
    // background-color: lighten($color: red, $amount: 10);
    h1, h2, h3, h4, h5, h6{
        padding : 20px 0px;
        width: auto;
    }
    h1 {
        font-size: 3em;
    }
    h2{
        font-size: 2.2em;
    }
    h3{
        font-size: 1.8em;
    }
    h4{
        font-size: 1.4em;
    }
    h5{
        font-size: 1.2em;
    }
    h6{
        font-size: 1em;
    }
    p{
        margin-bottom: 20px;
        padding: 15px 15px;
        text-indent: 15px;
    }
    mark{
        background : rgb(130, 255, 130);
        padding: 2px;
    }
    ul, ol{
        position: relative;
        left: 10%;
    }
    img {
        width: 90%;
        height: auto;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.032);
    }
    .cdx-simple-image.withBackground {
        background: #cee6ff;
        padding: 15px;
    }

    .cdx-simple-image.withBackground img {
        display: block;
        max-width: 60%;
        margin: 0 auto 15px;
    }
    
    .cdx-simple-image.withBorder img {
        border: 1px solid #1d1d2b;
        box-shadow: 2px 0px 5px rgba(50, 54, 82, 0.222);
        border-radius: 6px;
    }

    .cdx-caption{
        margin: auto;
    }
}

.blog_post--aside{
    @extend .flexCenter;
    width: 260px;
    height: auto;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(-30deg, rgb(221, 255, 0), rgb(0, 255, 200));
    filter: blur(30deg);
    border: rgba(157, 157, 157, 0.161);
    padding: 0px 2px;
}
.blog_post--aside-content{
    @extend .flexCenter;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background: white;
    box-shadow: 1px 0px 7px rgba(157, 157, 157, 0.161);
}
.blog_post--aside-buttons{
    @extend .flexAround;
    width: 100%;
    padding: 10px 3px;
    margin-top: 20px;
}

.blog_more{
    height: 400px;
    width: 90%;
    border: 1px $shadow solid;
    box-shadow: inset 0px -2px 5px 1px rgba(0, 0, 0, 0.062);
    border-radius: 10px 10px 0px 0px;
    margin: auto;
}
.blog_more_header{
    margin-top: 10px;
    margin-left: 20px
}

.blog_more_links{
    @extend .flexCenter;
    justify-content: flex-start;
    height: 90%;
    width: 100%;
    overflow-x: scroll;
    padding: 0px 15px;
}
@media (max-width : 600px) {
    .blog_post--article{
        padding: auto 0px;
        background: red;
        width: 90%;
    }
    .blog_post{
        min-height: 100%;
        width: 100%;
        padding: 60px 5px;
        text-align: center;
        z-index: -110;
    }
}