@import "../../sass/style.variables";
@import "../../sass/layout.scss";

.textEditor-container{
    @extend .flexCenter;    
    width: 100vw;
    height: 100vh;
    position: fixed;
    top : 0;
    left : 0;
    background : rgba(0, 0, 0, 0.535);
    z-index: 999999;
}
.textEditor{
    width: 95vw;
    height: calc(100vh - 20px);
    // margin: auto;
    margin-top: 20px;
    z-index: 999999;
    background: white;
    border: 2px blue solid;
    padding: 0px 10px;
}

.textEditor_header{
    @extend .flexAround;
    width: 100%;
    height: 40px;
}

.textEditor_header--title-form, .textEditor_header--picture-form{
    @extend .flexCenter;
    width: 50%;
    height: 100%;
}

.textEditor_header--title-input, .textEditor_header--picture-input{
    padding: 5px 17px;
    border: 1px $shadow solid;
}
.textEditor_header--title-input{
    width: auto;
}
.textEditor_body{
    width: 90%;
    height: 90%;
    margin: auto;
    font-family: sans-serif;
}

.textEditor-submit{
    padding: 0px;
}

.textEditor_body-input{
    width: 100%;
    height: 100%;
    border: 1px black solid;
    font-family: sans-serif;
}
#toolbar{
    width: 100%;
    height: 40px;
}