.flexAround {
    display : flex;
    justify-content : space-around;
    align-items : center
}

.flexBetween{
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.flexCenter{
    display : flex;
    justify-content: center;
    align-items: center;
}

.positionAbsolute{
    position: absolute;
    top: 0;
    left: 0;
}