@import "./views/sass/style.variables";
@import "./views/sass/layout.scss";

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family : poppins;
}
body{
    // font-family : poppins;
    overflow-x: hidden;
}
*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: $shadow;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: darkslategray;
    border-radius: 10px;
}